body {
	font-size: 16px;
	color: #000;
	background-color: #6B6B69; 
	font-family: 'Bitter';
}

h1 {
  margin-bottom: 15px;
  margin-top: 10px;
  text-align: center;
  color: white;
  }
 
.row {
  box-sizing: border-box;
   display: block;
   margin: 15px;
   padding: 15px;
   background: #B6B2B2;
   overflow: auto;
   text-align: left;

  } 

  .menuitem {
    display: block;
    font-size: 1.6em;
    text-align: center;
    margin-bottom: 10px;
  }
  
/** HEADER **/
#header-nav {
	background-color: #2C6906;
	border-radius: 0;
	border: 0;
}

.navbar-brand h1 { 
font-family: 'Lora', serif;
color: #C0C0C0;
font-size: 1.6em;
text-shadow: 2px 2px black;
margin-top: 0;
margin-bottom: 0;
line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;
}

#nav-list {
	margin-top: 10px;
}
#nav-list a {
	color: #AEAEAE;
	text-align: center;
}

#nav-list a:hover {
	background: #E7E7E7;
	color: #080104;
}
#collapsable-nav {
position: absolute;
width: 100%;
background-color: #2C6906;  
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
	border: 1px solid #F3F235; 
}  

	
/***** Large devices *****/
@media (min-width: 992px) {
	.col-lg-1 {
		padding: 15px;
		margin: 15px;
	}
	
}
/***** Medium devices *****/
@media (min-width: 768px) and (max-width: 991px) {
	.col-md-1{
		padding: 15px;
	}
}
/***** Small devices *****/
@media (min-width: 568px) and (max-width: 767px) {
	
	
}
/***** Extra-small devices *****/
@media (max-width: 567px) {
	.navbar-brand {
		padding-top: 10px;
		height: 80px;
	}
	.navbar-brand h1 {
		padding-top: 10px;
		font-size: 5vw;
	}
	.navbar-brand p {
		font-size: .6em;
		margin-top: 12px;	
	}
	.navbar-brand p img {
		height: 20px;
	}
	#collapsable-nav a {
		font-size: 1.2em;
	}
	#collapsable-nav a span{
		font-size: 1em;
		margin-right: 5px;
	}
}	
